$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-red: rgb(255, 0, 0);
$color-red-brown: rgb(175, 0, 0);
$color-light-aqua: rgb(0, 173, 185);
$color-yellow: rgb(255, 255, 0);
$color-light-green: rgb(0, 250, 100);