@import '../../sass/imports.scss';

.btn {
    padding: 5px 15px;
    color: $color-white;
    background: $color-red;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    &:hover {
        background: $color-white;
        color: $color-red;
    }
}